{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-fluid custombg mt-5">
      <div class="container pt-5 pb-5">
        <h1 style="color:white">Welcome to the pets app</h1>
        <p class="fs-4 mb-0 text-white-50" style="color:white">Create your own pet and rate other pets</p>
      </div>
    </div>
  
    <div class="container">
      <div class="row">
          {% for pet in pets %}   
          <div class="card me-3 mb-3" style="width: 18rem">
            <h5 class="card-header">{{pet.name}}</h5>
            <div class="card-body">
              <p class="card-text">{{pet.name}} is a {{pet.type}}</p>
              <p class="card-text">{{pet.name}} is {{pet.color}}</p>
              <p class="card-text">{{pet.name}} is {{pet.age}} years old.</p>
              <div class="colorBox mb-2" style="background-color: {{pet.color}}"></div>
              <a href="/pets/{{pet.id}}" class="btn btn-info">View {{pet.name}}</a>
            </div>
            </div>               
            {% endfor %}        
        </div>
    </div>
  
{% endblock %}