{% layout 'layout.liquid' %}
{% block content %}
      <div class="container-md">
        <div class="row justify-content-between">
        <article class="col-5">
          <h2 style="color: white">{{pet.name}}</h2>
          <h4 style="color: white">{{pet.name}} is a {{pet.type}}</h4>
          <h4 style="color: white">The color of {{pet.name}} is {{pet.color}}</h4>
            <div class="colorBox" style="background-color: {{pet.color}}"></div>
        </article>
        </div>
    {% if loggedIn %}
      {% if pet.owner == userId %}
        <hr style="color: white">
        <div class="btn-group">
          <a href="/pets/edit/{{pet.id}}" class="btn btn-primary">Edit {{pet.name}}</a>
          <form action="/pets/{{pet.id}}?_method=DELETE" method="POST">
            <input type="submit" class="btn btn-danger" value="Delete {{pet.name}}">
          </form>
        </div>
      {% endif %}
    {% endif %}
      <hr>
      <h3 style="color: white">Ratings:</h3>
      <hr style="color: white">
      {% if loggedIn %}
          <div class="col-md-6">
            <form action="/ratings/{{pet.id}}" method="POST">
              <fieldset>
                <legend style="color: white">Add Rating</legend>
                <label class="form-label" style="color: white">Rating</label>
                <input type="number" name="rating" class="form-control mb-1">
              </fieldset>
              <input type="submit" class="btn btn-success" value="Add Rating">
            </form>
          </div>
      {% else %}
          <div class="col-md-6">  
            <small style="color: white">If you would like to rate pets, please log in...</small>
          </div>
      {% endif %}
      <hr style="color: white">
      {% if pet.ratings.length > 0 %}
        <div class="container-sm justify-content-center">
          {% for rating in pet.ratings %}
            {% render '../rating.liquid', rating: rating, userId: userId, pet: pet %}
          {% endfor %}
        </div>
      {% else %}
          <small style="color: white">No Ratings yet... go create some!</small>
      {% endif %}
    </div>
{% endblock %}