{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
      <div class="row justify-content-between">
      <article class="col-5">
        <h2>{{pet.name}}</h2>
        <h4>{{pet.name}} is a {{pet.type}}</h4>
        <h4>The color of {{pet.name}} is {{pet.color}}</h4>
          <div class="colorBox" style="background-color: {{pet.color}}"></div>
      </article>
      </div>
    </div>
{% endblock %}